@media (max-width: 1050px){
    #header h1 {
        font-size: 25px;
    }    
    #cards-container  {
        flex-direction: column wrap;
        margin: 0px;
    }
    .card{
        width: 100%;
    }
    .card p {
        font-size: 0.8em;
    }
    .card h3 {
        font-size: 1em;
    }
    .card button {
        font-size: 1.2em;
    }
}


*{  
    margin: 0px;
    font-family: sans-serif, Arial, Helvetica;
    padding: 0px;
}
body {
    background-color: #eee;
}
.container{
    overflow: hidden;
    width: 100%;
}

/*HEADER*/
#header {
    height: 700px;
    background-image: url(../assets/banner.jpg);
    background-size: 100%;
    background-repeat: repeat;
    width: 100vw;
}
#navbar-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
#header img {
    margin-left: 100px;
    height: 100px;
}
#nav__lista-ordenada {
    display: flex;
    margin-right: 100px;
    list-style: none;
}
#nav__lista-ordenada  li a{
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
    margin-right: 10px;
    text-decoration: none;
}

#nav__lista-ordenada li {
    flex-flow: column wrap;
    margin-top: 16px;
}

#header h1{
    margin-top: 420px;
}

#header h1,
#header h2{
    color: whitesmoke;
    margin-left: 25px;
}

/*MAIN*/
#main-content {
    width: 100%;
}
#main-content > h1 {
    margin-top: 20px;
    font-weight: 100;
    text-align: center;
}

#cards-container {
    display: flex;
    margin: 10px;
    flex-flow: wrap row;
    justify-content: center;
}

.card{
    margin: 9px 20px;
    border: 1px solid gray;
    background-color: #b8b8b8;
    width: 25%;
    overflow-x: auto;
}

.card h3 {
    font-weight: 200;
    font-size: 1.3em;
    text-decoration: underline;
    text-align: center;
}
.card h3:first-child{
    margin-top: 10px;
}
.card p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
}
.card button {
    display: block;
    border-radius: 15px;
    background-color: gold;
    margin: 8px auto;
    font-size: 2em;
    padding: 5px;
    width: 90%;
}